.top-nav-bar {
    background: rgb(9,115,41);
    background: linear-gradient(90deg, rgba(9,115,41,1) 23%, rgba(202,223,82,1) 66%, rgba(219,232,216,1) 100%);
    color: white;
  }
  
.sidenav {
    width: 100vw;
    height: 95vh;
    background-color: #0A7029;
    
}

mat-drawer {
    width: 200px;
}

.project-list {
    padding-left: 10px;
}

.report-card {
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
display: flex;
}

.proj-desc-card {
    text-align: center;
    background-color: #DBE8D8;
}

.no-conent{
    text-align: center;
}
  


/* ============ container styles  ============ */

.container
{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-self: stretch;
    overflow-y: hidden;
    overflow-x: hidden;
    /* min-width: 200px; */
    height: 100%;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
    position: relative;
    max-width: none;
    /* font-size: 1rem; */
    /* font-weight: 400; */
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

.sample {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.fill > * {
    height: 100%;
    width: 100%;
}

/* ============ option styles ============ */

.options
{
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    position: relative;
    margin: 0rem;
    padding: 0rem;
    margin-left: 0.1rem;
    margin-right: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    color: #494949;
    align-items: normal;
}

.options-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

/* .options > span, */
.options > label,
.options-label {
    font-size: 0.85rem; /* med */
    padding: 0rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    /* margin-left: 0.5rem;*/
    margin-right: 0.25rem;
    vertical-align: middle;
    white-space: nowrap;
    align-self: center;
}

.options-value {
    font-size: 0.75rem; /* med */
    padding: 0rem;
    margin-top: 0rem;
    margin-left: 0.0rem;
    margin-right: 0.25rem;
    vertical-align: middle;
    width: 2rem;
    text-align: center;
    align-self: center;
}

.options > input[type=range],
.options > slider,
.options-slider {
    padding: 0rem;
    margin-left: 1rem;
    width: 5rem;
}

.options > input[type=button],
.options > button,
.options-button {
    margin: 0.25rem;
    margin-left: 0.5rem;
    color: #fff;
    background: #0099ff;
    border: 0px solid #0099ff;
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
    vertical-align: middle;
    cursor: pointer;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-size: 0.75rem; /* med */
    min-width: 6rem;
    white-space: nowrap;
}

.options > input[type=button]:hover,
.options > button:hover,
.options-button:hover {
    background: #36aefe;
}
.options > input[type=button]:active,
.options > button:active,
.options-button:active {
    background: #36aefe;
}
.options > input[type=button]:focus,
.options > button:focus,
.options-button:focus {
    outline: none;
}

.options-radio,
.options-checkbox,
.options > label > input[type=radio],
.options > label > input[type=checkbox],
.options > input {
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    padding: 0rem;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    cursor: pointer;
}

.options > label > input[type=color],
.options > input[type=color],
.options-color {
    align-self: stretch;
}

.options > input[type=text],
.options > text,
.options-text {
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    min-width: 4rem;
    vertical-align: middle;
}

.options > select,
.options-select {
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-size: 0.75rem; /* med */
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    vertical-align: middle;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.2rem;
    outline: none;
    cursor: pointer;
}
.options > select:focus,
.options-select {
    outline: none;
}

/* ============ overlay styles  ============ */

.overlay-border  {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.5rem;
    background: rgba(217, 217, 217, 0.5);
}

.overlay-center, .overlay-left,        .overlay-right,
.overlay-top,    .overlay-top-left,    .overlay-top-right,     .overlay-top-center,
.overlay-bottom, .overlay-bottom-left, .overlay-bottom-center, .overlay-bottom-right
{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.overlay-top-left { top: 0.5rem; left: 0.5rem; align-items: flex-start; }
.overlay-top-right { top: 0.25rem; right: 0.25rem; align-items: flex-end; }
.overlay-center { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.overlay-top-center { top: 0.25rem; left: 50%; transform: translate(-50%, 0%); }
.overlay-bottom-center { bottom: 0.25rem; left: 50%; transform: translate(-50%, 0%); }
.overlay-bottom-left { bottom: 0.25rem; left: 0.25rem; align-items: flex-start; }
.overlay-bottom-right { bottom: 0.25rem; right: 0.25rem; align-items: flex-end; }
.overlay-left { left: 0.5rem; align-items: flex-start; }
.overlay-right { right: 0.25rem; align-items: flex-end; }
.overlay-top { top: 0.5rem; }
.overlay-bottom { bottom: 0.25rem; }

.overlay-row {
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overlay-label {
    display: block;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-weight: 600;
}

.overlay-field {
    text-align: left;
    width: 5rem;
}

.overlay-value {
    text-align: end;
}

.overlay-title {
    color: black;
    display: block;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.vertical {
    display: flex;
    flex-flow: column;
}

.horizontal {
    display: flex;
    flex-flow: row;
}

table {
    border-collapse: inherit;
}

/* ============ legend styles ============ */
.legend {
    --legend-item-overflow: hidden;
    width: 100%;
    margin-bottom: 0.5rem;
}

#legendTitle,
.legend-title {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    color: black;
}

.ig-chart-legend-item-badge > canvas {
    vertical-align: middle;
    /* margin-bottom: 0.2rem; */
}


/* ============ tooltip styles  ============ */

.tooltipBox {
    font-size: 0.75rem;
    font-weight: normal;
    color: Black;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipTitle {
    display: block;
    color: Black;
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    margin-left: 0rem;
}

.tooltipTable {
    display: table;
    margin: 0rem;
    width: 100%;
    height: 100%;
    border-spacing: 5px;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipHorizontal {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipVertical {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipRow {
    display: table-row;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipVal {
    display: table-cell;
    text-align: "right";
    font-weight: bold;
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
    padding-left: 5px;
}

.tooltipLbl {
    display: table-cell;
    text-align: "left";
    font-size: 0.75rem;
    font-family: 'Titillium Web', Verdana, Tahoma, sans-serif;
}

.tooltipFlagImage {
    display: inline-block;
    object-fit: fill;
    height: 50px;
    width: 70px;
    margin-right: 5px;
}

.tooltipFlagBoarder {
    display: inline-block;
    padding: 0rem;
    border-width: thin;
    border-color: rgb(177, 177, 177);
    border-style: solid;
    height: 50px;
    width: 70px;
}

.options, .legend, .legend-title,
.no-selection {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
           -o-user-select: none;
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


  