<div fxLayoutAlign="center center" fxFlexFill class="main-login-div" class="login-screen">
    <mat-card fxFlex=25>
        <mat-toolbar class="login-toolbar">
            <img src="../../../assets/android-chrome-192x192.png">
            <span class="spacer" style="width: 30px;"></span>
            Scrumbs
        </mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" [formGroup]="loginForm">
            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
          
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button class="login-button" type="submit" (click)="login()">Login</button>
        </form>
    </mat-card>
</div>
