.main-login-div mat-card {
    padding: 0px;
}

.login-form {
    padding: 20px;
}

.login-toolbar {
    background-color: #0A7029;
    color: white;
}

.login-button {
    background-color: #E3E4CF;
}

.login-screen {
    background: rgb(9,115,41);
    background: linear-gradient(180deg, rgba(9,115,41,1) 0%, rgba(202,223,82,1) 100%, rgba(219,232,216,1) 100%);
}

img {
    height: 50px;
  }