.top-nav-bar {
    background: rgb(9,115,41);
    background: linear-gradient(90deg, rgba(9,115,41,1) 23%, rgba(202,223,82,1) 66%, rgba(219,232,216,1) 100%);
    color: white;
  }
  
img {
    height: 50px;
  }