<body>
    <!-- Top nav bar -->
    <app-nav></app-nav>

    <mat-card class="welcome-card">
        <h1>
            Welcome, {{currentUser.userName}}
        </h1>
    </mat-card>

    <!-- Admin Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='admin'">
        <mat-grid-list cols="2" rowHeight="320px" gutterSize="10px" class="grid-margin">
            <mat-grid-tile> <!-- Projects Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch" >
                    <mat-card-title>
                        Projects: {{projects.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Projects
                    </mat-card-subtitle>
                    <mat-card-content *ngFor="let project of projects">
                        {{project.title}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- User Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Users: {{users.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Active Users
                    </mat-card-subtitle>
                    <mat-card-content  *ngFor="let user of users">
                        {{user.username}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Domain Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Teams: {{teams.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Team Information
                    </mat-card-subtitle>
                    <mat-card-content  *ngFor="let team of teams">
                        {{team.name}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Engineer Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='engineer'">
        <mat-grid-list cols="1" rowHeight="320px" gutterSize="20px" class="grid-margin">
            <mat-grid-tile> <!-- Projects Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Projects: {{projects.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Projects
                    </mat-card-subtitle>
                    <mat-card-content *ngFor="let project of projects">
                        {{project.title}}
                    </mat-card-content>
                </mat-card>
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        To Do Board Outlook:
                    </mat-card-title>
                    <mat-card-subtitle>
                        To Do:
                    </mat-card-subtitle>
                    <mat-card-content *ngFor="let task of projects[0].taskList | filterStatusPipe:'to-do'">
                        <h3><strong>{{task.title}}</strong></h3>
                        <p>&nbsp;- {{task.description}}</p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Master Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='scrum_master'">
        <mat-grid-list cols="2" rowHeight="320px" gutterSize="10px" class="grid-margin">
            <mat-grid-tile> <!-- Projects Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Projects: {{projects.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Projects
                    </mat-card-subtitle>
                    <mat-card-content *ngFor="let project of projects">
                        {{project.title}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- User Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Users: {{users.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Active Users
                    </mat-card-subtitle>
                    <mat-card-content  *ngFor="let user of users">
                        {{user.username}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Domain Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Team: {{teams.length}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        Team Information
                    </mat-card-subtitle>
                    <mat-card-content  *ngFor="let team of teams">
                        {{team.name}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Requests Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Reports:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Available Reports
                    </mat-card-subtitle>
                    <mat-card-content *ngFor="let project of projects">
                        {{project.title}} Report
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Stakeholder Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='stakeholder'">
        <mat-grid-list cols="2" rowHeight="320px" gutterSize="10px" class="grid-margin">
            <mat-grid-tile> <!-- Domain Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Requests:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Requests
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Requests Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Reports:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Available Reports
                    </mat-card-subtitle>
                    <mat-card-content *ngFor="let project of projects">
                        {{project.title}} Report
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body>

