body {
    background-color: lightgray;
}

mat-card {
    overflow-y: scroll;
}

.main-card {
    padding: 30px;
}

.welcome-card {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color:#0A7029;
}

.grid-margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.mat-card-title {
    color: white;
    background-color: #0A7029;
    padding: 10px;
}
