body {
    background-color: lightgray;
}

.top-nav-bar {
    background: rgb(9,115,41);
    background: linear-gradient(90deg, rgba(9,115,41,1) 23%, rgba(202,223,82,1) 66%, rgba(219,232,216,1) 100%);
    color: white;
  }

.main-card {
    padding: 30px;
}

.grid-margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.mat-card-title {
    color: white;
    background-color: #0A7029;
    padding: 10px;
}
