<body>
    <!-- Top nav bar -->
    <app-nav></app-nav>

    <mat-card class="welcome-card">
        <h1>
            Welcome, {{currentUser.userName}}
        </h1>
    </mat-card>

    <!-- Admin Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='admin'">
        <mat-grid-list cols="2" rowHeight="320px" gutterSize="10px" class="grid-margin">
            <mat-grid-tile> <!-- Projects Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Projects:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Projects
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- User Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Users:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Active Users
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Domain Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Team:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Team Information
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Requests Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Requests:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Submitted Requests
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Engineer Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='engineer'">
        <mat-grid-list cols="1" rowHeight="320px" gutterSize="20px" class="grid-margin">
            <mat-grid-tile> <!-- Projects Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Projects:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Projects
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Master Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='scrum_master'">
        <mat-grid-list cols="2" rowHeight="320px" gutterSize="10px" class="grid-margin">
            <mat-grid-tile> <!-- Projects Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Projects:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Projects
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- User Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Users:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Active Users
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Domain Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Team:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Team Information
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Requests Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Reports:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Available Reports
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <!-- Stakeholder Dashboard Cards-->
    <div *ngIf="currentUser.userRole=='stakeholder'">
        <mat-grid-list cols="2" rowHeight="320px" gutterSize="10px" class="grid-margin">
            <mat-grid-tile> <!-- Domain Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Requests:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Live Requests
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile> <!-- Requests Card -->
                <mat-card fxFlex="100" fxFlexAlign="stretch">
                    <mat-card-title>
                        Reports:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Available Reports
                    </mat-card-subtitle>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body>

