<body>
    <!-- Top nav bar -->
    <app-nav></app-nav>

    <!-- Left nav bar -->
    <div>
        <mat-drawer-container class="sidenav">
            <mat-drawer mode="side" class="project-list" opened>
                <div>
                    <h2>Projects:</h2>
                    <mat-card-actions class="proj-addBtn" align="end">
                        <button mat-raised-button (click)="openDialog()">Add</button>
                    </mat-card-actions>
                </div>
                <button mat-icon-button (click)="getProjInfo('Rework Website')">Rework Website</button>
                <br>
                <button mat-icon-button (click)="getProjInfo('Build Database')">Build Database</button>
                <br>
                <button mat-icon-button (click)="getProjInfo('Print Hello World')">Print Hello World</button>
            </mat-drawer>

            <!-- For Engineer -->
            <mat-drawer-content *ngIf="this.isEng==true">
                <div> <!--description card -->
                    <mat-card class="description-card">
                        <mat-card-title>
                            Project:
                        </mat-card-title>
                        <mat-card-content>
                            Description: Here is a description of the current project.
                        </mat-card-content>
                    </mat-card>
                </div>
                <p>
                <!-- Cards for varying project tasks -->
                <mat-card class="project-card" fxFlex="25"> <!-- To Do -->
                    <mat-card-title> 
                        To Do:   
                    </mat-card-title>
                    <mat-card-actions class="addBtn" align="end">
                        <button mat-raised-button (click)="openDialog()">Add</button>
                    </mat-card-actions>
                    <div>
                        <mat-grid-list cols="2" rowHeight="150px" gutterSize="5px">
                            <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]">
                                <mat-card fxFlex="100" fxAlign="stretch" class="task-card">
                                    <mat-card-subtitle>
                                        Task {{i}}
                                    </mat-card-subtitle>
                                    <mat-card-content>
                                        Finish writing code
                                    <div>
                                        <button mat-raised-button [matMenuTriggerFor]="menu" class="task-menu">Move To</button> <!-- Move Tasks-->
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>In Progress</button>
                                            <button mat-menu-item>Needs Approved</button>
                                            <button mat-menu-item>Completed</button>
                                        </mat-menu>
                                    </div>
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>                 
                </mat-card>

                <mat-card class="project-card" fxFlex="25"> <!-- In Progress -->
                    <mat-card-title>
                        In Progress:
                    </mat-card-title>
                    <mat-card-actions class="addBtn" align="end">
                        <button mat-raised-button (click)="openDialog()">Add</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="project-card" fxFlex="25"> <!-- Needs Approved -->
                    <mat-card-title>
                        Needs Approved:
                    </mat-card-title>
                    <mat-card-actions class="addBtn" align="end">
                        <button mat-raised-button (click)="openDialog()">Add</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card class="project-card" fxFlex="25"> <!-- Completed -->
                    <mat-card-title>
                        Completed:
                    </mat-card-title>
                    <mat-card-actions class="addBtn" align="end">
                        <button mat-raised-button (click)="openDialog()">Add</button>
                    </mat-card-actions>  
                </mat-card>
            </mat-drawer-content>

            <!-- For Stakeholder -->
            <mat-drawer-content *ngIf="this.isStake==true">
                <div> <!--description card -->
                    <mat-card class="description-card">
                        <h3>
                            Project:
                        </h3>
                        <mat-card-content>
                            Description: Here is a description of the current project.
                        </mat-card-content>
                    </mat-card>
                </div>
                <p>
                <mat-card class="request-card" fxFlex="98">
                    <mat-card-title>
                        Submit a Request:
                    </mat-card-title>
                    <mat-card-subtitle>
                        Request for Project:
                        <br>
                        {{selectedProj.name}}
                    </mat-card-subtitle>
                    <mat-form-field class="text-box" appearance="fill">
                        <mat-label>Fill in request:</mat-label>
                        <textarea matInput></textarea>
                    </mat-form-field>
                    <mat-card-actions class="request-btn">
                        <button mat-raised-button id="request-btn">Submit Request</button>
                    </mat-card-actions>
                </mat-card>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</body>
