.top-nav-bar {
  background: rgb(9,115,41);
  background: linear-gradient(90deg, rgba(9,115,41,1) 23%, rgba(202,223,82,1) 66%, rgba(219,232,216,1) 100%);
  color: white;
}

.sidenav {
    width: 100vw;
    height: 95vh;
    background-color: lightgray;
    
}

mat-drawer {
    width: 200px;
}

.project-list {
    padding-left: 10px;
}

.project-card {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 800px;
}

.request-card {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 800px;
}

.request-btn {
  margin-top: 15px;
}

.text-box{
  height: 70px;
  width: 1000px;
}

.task-card {
  background-color: #DBE8D8;
  height: 150px;
  overflow-y: scroll;
}

.task-menu {
  margin-top: 10px;
  /*margin-bottom: 5px;*/
}

.description-card {
  background-color: #DBE8D8;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  height: 80px;
  width: 1200px;
}

.proj-addBtn {
  float: right;
  margin-top: -8px;
  margin-right: 8px;
}

.proj-header {
  margin-top: 15px;
}

.proj-card-title {
  margin-bottom: 20px;
}

.addBtn {
  float: right;
  margin-top: -15px;
}