<body>
    <!-- Top nav bar -->
    <app-nav></app-nav>

    <div>
        <!-- Cards for varying project tasks -->
        <div>
            <mat-card class="big-admin-card"> <!-- User Management -->
                        <mat-card-title>
                            User Management:   
                        </mat-card-title>
                        <div fxLayout="row">
                            <div> <!-- User Creation -->
                                    <mat-card fxFlex="stretch" class="admin-card">
                                        <mat-card-title>
                                            Create a User
                                        </mat-card-title>
                                        <mat-form-field>
                                            <input matInput placeholder="Username">
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field>
                                            <input matInput type="password" placeholder="Password">
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field appearance="fill">
                                            <mat-label>User Type:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="engineer">Engineer</option>
                                                <option value="master">Master</option>
                                                <option value="stakeholder">Stakeholder</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Assigned Team:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="d1">Team 1</option>
                                                <option value="d2">Team 2</option>
                                                <option value="d3">Team 3</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button class="admin-button" type="submit">Create User</button>
                                    </mat-card>
                            </div>
                            <div> <!-- User Modification -->
                                    <mat-card fxFlex="stretch" class="admin-card">
                                        <mat-card-title>
                                            Modify a User
                                        </mat-card-title>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Select a User:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="user1">Luke</option>
                                                <option value="user2">Douglas</option>
                                                <option value="user3">Alec</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field>
                                            <input matInput placeholder="Change username">
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field>
                                            <input matInput type="password" placeholder="Change password">
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Change User Type:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="engineer">Engineer</option>
                                                <option value="master">Master</option>
                                                <option value="stakeholder">Stakeholder</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Change Team:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="d1">Team 1</option>
                                                <option value="d2">Team 2</option>
                                                <option value="d3">Team 3</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button class="admin-button" type="submit">Apply Changes</button>
                                    </mat-card>
                            </div>
                            <div> <!-- User Deletion -->
                                    <mat-card fxFlex="stretch" class="admin-card">
                                        <mat-card-title>
                                            Delete a User
                                        </mat-card-title>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Select a User:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="user1">Luke</option>
                                                <option value="user2">Douglas</option>
                                                <option value="user3">Alec</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button class="admin-button" type="submit">Delete User</button>
                                    </mat-card>
                            </div>
                        </div>
            </mat-card>
            <mat-card class="big-admin-card"> <!-- Team Management -->
                        <mat-card-title>
                            Team Management:
                        </mat-card-title>
                        <div fxLayout="row">
                            <div> <!-- Team Creation -->
                                    <mat-card fxFlex="stretch" class="admin-card">
                                        <mat-card-title>
                                            Create a Team
                                        </mat-card-title>
                                        <mat-form-field>
                                            <input matInput placeholder="Team Name">
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Assign a Scrum Master:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="luke">Luke</option>
                                                <option value="douglas">Douglas</option>
                                                <option value="alec">Alec</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button class="admin-button" type="submit">Create Team</button>
                                    </mat-card>
                            </div>
                            <div> <!-- Team Modification -->
                                    <mat-card fxFlex="stretch" class="admin-card">
                                        <mat-card-title>
                                            Modify a Team
                                        </mat-card-title>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Select a Team:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="team1">Team 1</option>
                                                <option value="team2">Team 2</option>
                                                <option value="team3">Team 3</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field>
                                            <input matInput placeholder="Change team name">
                                        </mat-form-field>
                                        <br>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Change Scrum Master:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="luke">Luke</option>
                                                <option value="douglas">Douglas</option>
                                                <option value="alec">Alec</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button class="admin-button" type="submit">Apply Changes</button>
                                    </mat-card>
                            </div>
                            <div> <!-- Team Deletion -->
                                    <mat-card fxFlex="stretch" class="admin-card">
                                        <mat-card-title>
                                            Delete a Team
                                        </mat-card-title>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Select a Team:</mat-label>
                                            <select matNativeControl required>
                                                <option value="none">--</option>
                                                <option value="team1">Team 1</option>
                                                <option value="team2">Team 2</option>
                                                <option value="team3">Team 3</option>
                                            </select>
                                        </mat-form-field>
                                        <br>
                                        <button mat-raised-button class="admin-button" type="submit">Delete User</button>
                                    </mat-card>
                            </div>
                        </div>
            </mat-card>
            <mat-card class="big-admin-card"> <!-- Log Viewer -->
                        <mat-card-title>
                            Log Viewer:
                        </mat-card-title>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                  <input matStartDate placeholder="Start date">
                                  <input matEndDate placeholder="End date">
                                </mat-date-range-input>
                                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                            <button mat-raised-button class="button" type="submit">View Logs</button>
                            <br>
                            <br>
                            <p>Logs go here</p>
                        </div>
            </mat-card>
        </div>
    </div>
</body>